<div class="basket">
    <div class="container">
        <div class="step1">
            <div class="basket_container">
                <table class="basket_table">
                    <thead>
                    <tr>
                        <th class="product_name">&nbsp;</th>
                        <th class="product_details">Product</th>
                        <th class="product_price">Price</th>
                        <th class="product_quantity">Quantity</th>
                        <th class="product_total">Total</th>
                        <th class="product_remove">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody id="basket_body">

                    </tbody>
                </table>
            </div>
            <div class="cart_total">
                <span class="">
                    <span>Total price:</span>
                    <span class="total_price">234</span>
                </span>
                <span class="total_qty">
                    <span> Total quantity:</span>
                    <span class="count_cart">4</span>
                </span>
            </div>
            <div class="order_btn">
                <a class="take_order" href="#shop/">back to shopping</a> <a class="take_order" href="#basket/step2/">place your order</a>
            </div>
        </div>
    </div>
</div>