<div id="main_wp">
    <div class="slider" id="slider">

            <div class="slider-items">
                <a href="#shop/product/43">
                <img src="app/img/slider/SAN_2017_Tight-FEM_Available-Now_1920x600_P1_OPT.png">
                <span class="tight-fem"></span>
                <span class="tight-fem-product"></span>
                </a>
            </div>

        <!--<div class="slider-items">-->
            <!--<img src="app/img/slider/SAN_2017_Vision-Support_1920x600_part-1.png">-->
            <!--<span class="vision_support"></span>-->
            <!--<span class="vision_support_product"></span>-->
        <!--</div>-->
        <!--<div class="slider-items">-->
            <!--<img src="app/img/slider/SAN_2017_Gluten-Safe_SALE_1920x600_P1_OPT.png">-->
            <!--<span class="gluten_safe"></span>-->
            <!--<span class="gluten_safe_product"></span>-->
        <!--</div>-->
        <div class="slider-items">
           <a href="#shop/product/37">
               <img src="app/img/slider/SAN_Fierce-T-Drive_ALL-NEW_1920x600_P1_OPT.png">
               <span class="firce"></span>
               <span class="firce_product"></span>
           </a>
        </div>
        <a class="prev" href="#">&#10094</a>
        <a class="next" href="#">&#10095</a>
    </div>
    <div id="main">
        <div class="container">
            <h1 class="special">Special Offer Nutrition</h1>
            <div class="main_specials">

            </div>
        </div>
        <!--<div class="goals">-->
            <!--<div class="container">-->
                <!--<h1 class="goals_title">For Your Purposes</h1>-->
                <!--<div class="goals_category"></div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>