<div class="single_product">
    <div class="container">
        <div class="sp_wrapper">
            <div class="product_images">
                <img class="main_img" src="">
            </div>
            <div class="product_information">
                <span class="product_title">Product Name</span>
                <span class="product_price"></span>
                <div class="price">
                    <!--<div class="quantity_buttons">-->
                        <!--<span  class="minus" value="-"></span>-->
                        <!--<input type="text" pattern="[0-9]*" step="1" value="1" title="qty" id="qty" name="qty">-->
                        <!--<span class="plus" value="+"></span>-->
                    <!--</div>-->
                    <span class='add_to_cart'><button id="toCart">ADD TO CART</button></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="single_product_content">
    <div class="container">
        <div class="sp_wrapper_center">
            <ul class="tabs_product">
                <li class="tabs_list" data-content="desc">Description</li>
                <li class="tabs_list" data-content="pc">Product composition</li>
            </ul>
            <div id="desc" style="display: block" class="tabs_content">

            </div>
            <div id="pc" style="display: none" class="tabs_content">


            </div>


        </div>
    </div>

</div>