<div id="shop" class="container">
    <div class="content">

        <div class="trigger_by_sort">
            <span>Default sorting</span>
            <ul class="sort_list"></ul>
        </div>

        <div class="switch">
            <a href="#" id="main" class="switch_link" data-content="main"></a>
            <a href="#" id="main_list" class="switch_link" data-content="main_list"></a>
        </div>
        <!--<div class="open_filters_btn">-->
            <!--<a href="#" type="button" class="btn">Filters</a>-->
        <!--</div>-->
    </div>
    <div class="shop_content">
        <div class="sidebar">
            <input type="text" class="search" name="search" autocomplete="off" id="search" placeholder="search...">
            <ul id="search_list"></ul>
            <div class="cat_title">CATEGORIES</div>
            <ul class="category" id="cat"></ul>
            <div class="filter"></div>
        </div>
        <div id="products_content" class="main"></div>
    </div>
    <div class="pagination">
        <div id="pag_s" class="pag_s"></div>
        <ul id="pag_list">
        </ul>
    </div>
</div>